bokeh==0.11.1
conda==4.0.5
conda-env==2.4.5
Flask==0.10.1
gunicorn==19.1.0
imagesize==0.7.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.4.0
lxml==3.6.0
MarkupSafe==0.23
nbconvert==4.2.0
nbformat==4.0.1
numpy==1.11.0
PasteDeploy==1.5.2
pep8==1.7.0
requests==2.9.1
scipy==0.17.0
simplegeneric==0.8.1
Werkzeug==0.11.8
